<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title>Forever Note</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bundle.css" rel="stylesheet">
</head>

<body ng-controller="NotesController as notesController">

  <div class="container">

    <div class="jumbotron text-center">
      <h1>Forever Note</h1>
      <p>A place to store all your important notes</p>
    </div>

    <pre>{{notesController.note | json}}</pre>

    <hr>

    <div class="row">

      <form>

        <div class="col-md-12">

          <div class="form-group col-md-6">
            <label>Title of Note</label>
            <input type="text" class="form-control" ng-model="notesController.note.title" required>
          </div>

          <div class="col-md-6">
            <label for="category">Category</label>
            <select class="form-control" ng-model="notesController.note.category" required>
              <option value="Education">Education</option>
              <option value="Motivation">Motivation</option>
              <option value="To-Do">To-Do</option>
              <option value="Personal">Personal</option>
              <option value="Quote">Quote</option>
              <option value="Randon">Random</option>
              <option value="Misc">Misc</option>
            </select>
          </div>

          <div class="form-group col-md-12">
            <label>Note Body</label>
            <input class="form-control input-lg" type="text" ng-model="notesController.note.body" required>
          </div>

          <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="notesController.createNote(notesController.note)">Create Note</button>
          </div>

        </div>

      </form>

    </div>

    <hr>


    <div class="row">

      <div class="col-md-6">
        <ul class="list-group">
          <div class="col-md-12" ng-repeat="note in notesController.notes">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{{note.title}}
                  <p class="pull-right">{{note.category}}</p>
                </h3>
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-xs btn-danger" ng-click="notesController.remove(note)">Delete Note</button>
                <button type="button" class="btn btn-xs btn-info" ng-click="notesController.getNote(note.id)">Open Note</button>
              </div>
            </div>
          </div>
        </ul>
      </div>

      <div class="col-md-6">
        <pre>{{notesController.selectedNote | json}}</pre>
        <label>{{notesController.selectedNote.title}}</label><br>
        <label>{{notesController.selectedNote.category}}</label><br>
        <label>{{notesController.selectedNote.body}}</label>
        <input class="form-control input-lg" type="text" ng-model="notesController.selectedNote.title" required>
        <select class="form-control" ng-model="notesController.selectedNote.category" required>
          <option value="Education">Education</option>
          <option value="Motivation">Motivation</option>
          <option value="To-Do">To-Do</option>
          <option value="Personal">Personal</option>
          <option value="Quote">Quote</option>
          <option value="Randon">Random</option>
          <option value="Misc">Misc</option>
        </select>
        <input class="form-control input-lg" type="text" ng-model="notesController.selectedNote.body" required>
        <button type="button" class="btn btn-xs btn-info" ng-click="notesController.updateNote(notesController.selectedNote)">Open Note</button>
      </div>

    </div>



  </div>

  <script src="bundle.js"></script>



</body>

</html>
